body,
html {
    margin: 0;
    padding: 0;
    background-color: #444444;
}

header {
    width: 100%;
    height: 120px;
    background-color: #282828;
}

h1 {
    position: absolute;
    float: left;
}

span {
    background-color: #444444;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    padding: 15px 30px;
}

a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #000000;
    transition: 0.5s;
}

.navButt {
    text-decoration: none;
    border: 2px solid #222222;
    background-color: #444444;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    width: 20%;
    height: 120px;
    float: left;
}

.navButt:hover {
    background-color: #333333;
    transition: 0.5s;
}

.navTit {
    text-decoration: none;
    border: 2px solid #222222;
    background-color: #444444;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    width: 20%;
    height: 120px;
    float: left;
}

#bigHolder {
    background-color: #555555;
    width: 90%;
    height: 75%;
    position: fixed;
    top: 20%;
    left: 5%;
}

#theChecks {
    height: 100%;
    width: 35%;
    float: left;
}

#checkHolder {
    position: fixed;
    top: 40%;
    left: 10%;
}

#checkHolder input {
    height: 35px;
    width: 35px;
}

label {
    font-size: 35px;
}

#listOfStock {
    height: 100%;
    width: 65%;
    float: left;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    text-align: center;
    border: 1px solid;
}