<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Back to Wall Street</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/index.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/addStock.css') }}" />
    </head>
    <!-- Holds Navigation Bar-->
    <header>
        <nav>
            
            <button class="navButt"><a href="{{ url_for('views.index') }}">Home</a></button>
            <button class="navButt" ><a href="{{ url_for('views.recommend') }}">Recommendation</a></button>

            <button class="navTit">Back Against Wall Street</button>
        
            <button class="navButt">
                <a href="{{ url_for('views.addStock') }}">AddStock</a>
            </button>
            <button class="navButt">Help Desk</button>

        </nav>
    </header>
    <body>
        <!--Big Holder holds all contents of the Page-->
        <div id="bigHolderStock">
            <div id="theChecksStock">
                <div id="checkHolderTicker">
                    <!--Forms which holds all Checkboxes-->
                    <form method="POST">
                        <label for="test1">Ticker:</label>
                        <input id="ticker_text" name="Tickers" type="text" class="input-field" placeholder="TCKR">
                        <button id="ticker_search" name="Ticker" type="submit" class="submit-btn">Search</button>  
                    </form>
                </div>
                <div id="checkHolderWatchList">
                    <!--Forms which holds all Checkboxes-->
                    <form action="/action_page.php">
                        <label for="test2">Watch List</label><br>
                      </form>
                </div>
            </div>
            <div id="listOfStock">
                <!--Table which holds list of Stocks-->
                <table>
                    <tr>
                        <th>Best Stocks</th>
                    </tr>
                    <tr>
                        <td>1.) {{tick[0]}}</td>
                    </tr>
                    <tr>
                        <td>2.) {{tick[1]}}</td>
                    </tr>
                    <tr>
                        <td>3.) {{tick[2]}}</td>
                    </tr>
                    <tr>
                        <td>4.) {{tick[3]}}</td>
                    </tr>
                    <tr>
                        <td>5.) {{tick[4]}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </body>

</html>