<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Back to Wall Street</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/index.css') }}" />
    </head>
    <!-- Holds Navigation Bar-->
    <header>
        <nav>
            
            <button class="navButt">Home</button>
            <button class="navButt">Recommendation</button>

            <button class="navTit">Back Against Wall Street</button>
        
            <button class="navButt">Add Stock</button>
            <button class="navButt">Help Desk</button>

        </nav>
    </header>
    <body>
        <!--Big Holder holds all contents of the Page-->
        <div id="bigHolder">
            <div id="theChecks">
                <div id="checkHolder">
                    <!--Forms which holds all Checkboxes-->
                    <form action="/action_page.php">
                        <input type="checkbox" id="test1" name="test1" value="Test">
                        <label for="test1"> Test 1</label><br>
                        <input type="checkbox" id="test2" name="test2" value="Test">
                        <label for="test2"> Test 2</label><br>
                      </form>
                </div>
            </div>
            <div id="listOfStock">
                <!--Table which holds list of Stocks-->
                <table>
                    <tr>
                        <th>Best Stocks</th>
                    </tr>
                    <tr>
                        <td>1. Stock</td>
                    </tr>
                    <tr>
                        <td>2. Stock</td>
                    </tr>
                    <tr>
                        <td>3. Stock</td>
                    </tr>
                    <tr>
                        <td>4. Stock</td>
                    </tr>
                    <tr>
                        <td>5. Stock</td>
                    </tr>
                    <tr>
                        <td>6. Stock</td>
                    </tr>
                    <tr>
                        <td>7. Stock</td>
                    </tr>
                    <tr>
                        <td>8. Stock</td>
                    </tr>
                    <tr>
                        <td>9. Stock</td>
                    </tr>
                    <tr>
                        <td>10. Stock</td>
                    </tr>
                </table>
            </div>
        </div>

    </body>

</html>