<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/sign_up.css') }}">
    </head>
    <header>
        <nav>
            <div class="navTit">
                <h1>Back Against Wall Street</h1>
            </div>
        </nav>
    </header>
    <body>
        <form method="POST">
            <div class="label_Move">
                    <h1>Username</h1>
                <br>
                <input id="USERNAME" name="Username" type="text" class="input-field" placeholder="Username" required>
                    <h1>Password</h1>
                <br>
                <input id="PASSWORD" name="Password" type="text" class="input-field" placeholder="Password" required>
                    <h1>Re-Password</h1>
                <br>
                <input id="REPASSWORD" name="RePassword" type="text" class="input-field" placeholder="Re-Enter Password" required>
                <br>
                <button type="submit" class="submit-btn">Sign Up</button>
            </div>
        </form>
    </body>
</html>

<!-- action="" -->